body {
	margin: 0;
	padding: 0;
}

.navbar {
	background: #8005a5;
	width: 100%;
	height: 80px;
	color: #fff;
	display: flex;
	/* justify-content: center; */
	align-items: center;
}

.navbar .left {
	flex: 50%;
}

.navbar .right {
	flex: 50%;
}
